/*

                        .
                       / V\
                     / `  /
                    <<   |
                    /    |
                  /      |
                /        |
              /    \  \ /
             (      ) | |
     ________|   _/_  | |
   <__________\______)\__)


    Created on : 9 août 2021, 21:26:13
    Author     : AS2KXR
*/

/*------------- Page -------------*/
html{
  color: white;
  position: relative;
  height: 100%;
}

/*------------- Corps -------------*/
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

/*------------- en-tête -------------*/
header{
    width: 100%;
    height: 7%;
    border-bottom: 1px white solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
header, div{
    vertical-align: central;
}
.DivMiddle{
    width: 50%;
}
.DivCoté{
    width: 20%;
    vertical-align: baseline;
}
#DivCotéDroit{
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#DivCotéGauche{
    margin-top: auto;
    margin-bottom: auto;
}
#titredaniel{
    cursor: pointer;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #f09433; 
    color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: -moz-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    position: relative;
    color: orange;
}
#image{
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
    cursor: pointer;
}

/*------------- section -------------*/
section{
    height: 82%;
    margin: 0;
    padding: 0;
    border: 0;
}
/*
.espaceLienMid{
    height: 30%;
    width: 100%;
}

/*------------- formulaire -------------
#DivFormLog{
    height: 40%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}
form{
    display: inline-block;
    vertical-align: top;
}
#h1Log{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}*/


#page{
    width: 70%;
    height: 82%;
    margin: auto;
    display: flex;
}

#zone_central{
    width: 100%;
    height: 50%;
}
#FormCentrale{
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.FormMiddle{
    height: 50%;
}

#motdepasse{
    width: 99%;
}

#Email{
    width: 99%;
}

#BoutonEnvoyer{
    margin-top: 15px;
    float: right;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius:25px;
    border-color: white;
    height: 25px;
    width: 100px;
}
/*------------- pied de page -------------*/
footer{
    background-color: #111111;
    height: 10%;
    margin: 0;
    padding: 0;
    border: 0;
}